Package: checksum-pkg
Version: 0-1
Architecture: all
Maintainer: John <jhonathan.castaneda@uao.edu.co>
Installed-Size: 31
Depends: python3
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: checksum testing package
 simple package to perform checksum test in system files
