Source: checksum-pkg
Section: unknown
Priority: optional
Maintainer: John <jhonathan.castaneda@uao.edu.co>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/checksum-pkg
#Vcs-Git: https://salsa.debian.org/debian/checksum-pkg.git

Package: checksum-pkg
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Description: checksum testing package
 simple package to perform checksum test in system files
