#SIMPLE CHECKSUM SYSTEMD SERVICE
#JHONATHAN CANO - 2023

[Unit]
Description = Checksum service
After       = multi-user.target

[Service]
Type        = simple
ExecStart   = /usr/bin/python3 /home/john/Desktop/comsTest/checksumServer.py

[Install]
WantedBy    = multi-user.target
